{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}



{% block body %}
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Retrouver le traitre tleilaxu</h1>
							<blockquote>
							Rendez-vous dans la chambre du représantant tleilaxu
							</blockquote>
		
		
<h2>Engager la quête</h2>
<p>En prérequis, il faut avoir 200 de confiance pour la maison Tleilaxu. Puis allez parler au représentant Tleilax qui se trouve dans l'une des 4 chambres
 réservées aux représentants</p>

<h3>Comment faire</h3>
<p>
<span class="image left">
		<img src="/images/site/aide5vue.png" alt="tleilaxu jeu point and click" title="tleilaxu jeu point and click"/>
	</span>
Si vous arrivez assez loin dans le jeu, celui-ci vous demandera de vérifier les soupçons qui pèsent sur le général Tharani, qui se trouve à l'entrée du palais</p>
 <p>
 Celui-ci en effet est soupçonné de vendre le savoir Tleilax aux autres maisons. Pour vérifier cette hypotèse, il faut trouver des preuves qui accablent le général.
 Allez lui parler et demandez lui ou il passe la plupart de son temps dans le palais. Il vous répondra qu'il passe le plus clair de son temps au hangar, qui se trouve
 juste après le couloir ou réside la cheffe de sécurité du palais. Rendez-vous y et fouillez jusqu'à ce que vous trouviez un indice qui se présente sous la forme d'une lettre.
 Si vous lisez cet indice, vous trouvez
 des flèches qu'il faut suivre une fois que vous vous trouvez dans le désert : <strong>ATTENTION : n'allez jamais dans le désert sans distille et sans boussole</strong>.
 </p>
 <p>
 Il est à noter aussi que vous ne pouvez pas sortir du palais tant que vous n'avez pas 500 points de renommée. Il faut donc que vous atteignez ces 500 points de renommée pour
 terminer cette quête.
 </p>
 
 <h3>Résolution de la quête</h3>
 <p> Si vous suivez bien les instructions de la lettre, du HAUT vers le BAS, vous devez vous retrouver NEZ A NEZ avec le général tleilax en plein milieu du désert. 
 Celui-ci vous suppliera de ne pas le dénoncer aux Tleilax, connaissant la cruauté de cette maison et le peu de cas qu'ils feront d'un traitre pareil.</p>
 
 <h4>Si vous le dénoncez</h4>
 <p>
 Le général Tleilax vous informe qu'il s'exile mais qu'il ne se fait pas trop d'illusion sur sa condition prochaine, sachant que le Bene Tleilax le poursuivera sans répit.
 Il vous maudit ( la belle affaire )<br/>
 Retournez voir l'ambassadeur Tleilax et dites lui <strong>Le général traître ne vous nuira plus, vous en avez ma parole</strong>
 <br/>
 En récompense, celui-ci vous donne :
<ul>
<li> 3 points d'influence </li>
<li> 3 serviteurs </li>
<li> 15 vaisseaux </li>
<li> 3 escortes </li>
<li> 3500 épices </li>

 </p>
 <h4>Si vous ne le dénoncez pas</h4>
 <p>
 Le général Tleilax vous livre le nom de toutes les planètes sur lesquelles il est utile de poser une ambassade. Vous gagnerez ainsi un gain considérable de temps et d'épice
 à ne pas envoyer vos ambassadeurs n'importe ou - chaque envoie d'ambassadeur coûte <strong>500 épice</strong><br/>
 
 En contrepartie votre corruption augmente considérablement. Le général vous salue bien et s'enfuit ni vu ni connu. Allez voir l'ambassadeur Tleilax pour lui annoncer a nouvelle
 que vous vous êtes personnellement chargé de ce traître.
 </p>
</div>
					</section>

			</div>
{% endblock %}