{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}



{% block body %}
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Aider le Fremen de musée</h1>
							<blockquote>
							Rendez-vous dans la salle commune ou vous attend le représentant des Fremen de musée d'Arrakis.
							</blockquote>
		
		
<h2>Engager la quête</h2>
<p>Pour commencer la quête du Fremen de musée, il vous suffit de lui poser la question <strong>"Qu'attendez-vous de l'Empereur-dieu"</strong></p>

<h3>Sa requête</h3>
<p>
<span class="image left">
		<img src="/images/perso/fremen_seul.png" alt="représentant des fremen de musée jeu point and click" title="représentant des fremen de musée jeu point and click"/>
	</span>
Le Fremen de musée vous demande l'autorisation d'une entrevue avec l'Empereur-dieu. Retournez dans la salle du trône parler au grand inquisiteur et transmettez lui la demande du Fremen de musée.<br/>
Celui-ci vous dit de prévenir le Fremen de musée qu'il recevra sa demande à 16H00 précise dans la salle du trône (L'Empereur-dieu ne se déplace pas pour si peu, pensez donc).
 Mais pour qu'il ne tire pas de gloire à être reçu dans la salle de l'Empereur-dieu, le grand inquisiteur vous demande de jouer les intermédiaires. Retournez voir le représentant des Fremen de musée dans la salle commune 
 et demandez lui l'objet de sa requête. </p>
 <p>
 Celui-ci vous demandera la permission d'utiliser des outils modernes, interdits depuis des millénaires aux Fremen de musée par ordre de l'Empereur-dieu LETO II. Attendez 16H00 précise pour retourner dans la salle du trône 
 et parler avec le grand inquisiteur. Si vous lui parlez à un autre horaire que 16H00, vous ne pourrez pas lui faire part de la requête du Fremen de musée. Mais si vous entamez la conversation à 16H00 précise, vous pourrez 
 lui poser la question "Le Fremen de musée voudrait la permission d'utiliser les tournevis laser" 
 </p>
 
 <h3>Résolution de la quête</h3>
 <p>Deux possibilités à partir de ce point : OU vous n'avez pas assez avancé sur d'autres quêtes dans le jeu et le grand inquisiteur vous dira de lui resoumettre la demande le lendemain, même heure. OU il vous dira que 
 l'Empereur-dieu ne leur accorde pas ce droit. Retournez prévenir le Fremen de musée qui vous récompensera de votre dévouement ( en vous donnant des points d'influence, des escortes et des serviteurs )
 et mettra en vente au surplus du palais le tournevis laser que vous pourrez acheter 
 par la même occasion.</p>
</div>
					</section>

			</div>

{% endblock %}