{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}



{% block body %}
	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Aider la soeur novice du Bene Gesserit</h1>
							<blockquote>
							Rendez-vous dans la salle d'intendance, à droite de l'entrée du palais.
							</blockquote>
		
		
<h2>Engager la quête</h2>
<p>Pour commencer la quête concernant la novice Bene Gesserit, il vous suffit de lui poser la question<br/> <strong>"De quelle maison vous méfiez-vous le plus ?"</strong></p>

<h3>Sa requête</h3>
<p>
<span class="image left">
		<img src="/images/perso/gesserit-sister-seul.png" alt="novice Bene Guesserit jeu point and click" title="novice Bene Guesserit jeu point and click"/>
	</span>
La novice Bene Guesserit vous demande de verser une fiole dans le verre de l'ambassadeur Corrino qui se trouve actuellement au bar du palais. Pour approcher son verre, il vous faudra attendre qu'il quitte sa place... 
chose qui n'arrive jamais ! il faut donc prendre les choses en mains.</p>
 <p>
 Deux possibilités à partir de ce point : OU vous n'avez pas assez avancé sur d'autres quêtes dans le jeu et le Corrino refuse de vous parler ( trouvez de la liqueur d'épice pour lui délier la langue ). OU, si vous avez déjà
parlé avec le Corrino, rendez-vous donc au couloir juste au dessus de la salle du trône ou se trouve la truitesse responsable de la sécurité du palais. La, dites-lui que vous soupçonnez l'ambassadeur
 Corrino de préparer un attentat contre l'Empereur-dieu. Retournez au bar, ou vous avez maintenant la table libre, et utilisez votre objet "Fiole d'hormones". 
Vous versez le contenu de la fiole dans son verre. Retournez voir la responsable de la sécurité du palais et dites lui que c'était une fausse alerte : 
elle laissera repartir le pauvre représentant Corrino qui rejoindra ainsi la place qu'il occupait au bar.
 </p>
 
 <h3>Résolution de la quête</h3>
 <p>Retournez au bar et parlez avec l'ambassadeur Corrino. Il trinquera avec vous et boira le contenu de son verre. Retournez prévenir la novice Bene Guesserit qui vous récompensera de votre dévouement en vous donnant
 le moyen d'identifier un danseur-visage. C'est essentiel pour une des quêtes principales du jeu.</p>
</div>
					</section>

			</div>
{% endblock %}