{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}



{% block body %}
	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Retrouver l'argent du barman</h1>
							<blockquote>
							Rendez-vous au bar du palais.
							</blockquote>
		
		
<h2>Engager la quête</h2>
<p>Pour commencer la quête concernant l'argent du barman, il vous suffit de vous adresser au barman et de lui poser la question suivante :

<strong>"Y'a t'il une maison en particulier que vous n'appréciez pas ?"</strong></p>

<h3>Comment faire</h3>
<p>
<span class="image left">
		<img src="/images/site/barman.png" alt="barman jeu point and click" title="barman jeu point and click"/>
	</span>
Celui-ci vous raconte son histoire et vous demande de récupérer l'argent que la novice Bene Gesserit lui doit. Allez voir celle-ci qui se trouve à droite de l'entrée du palais et dites lui que vous avez eu une conversation
 intéréssante avec le barman. La novice refusera de vous parler et vous demandera de la retrouver à la bibliothèque en faveur de la nuit. Attendez donc qu'il soit plus de 18H00, retrouvez la à la bibliothèque et reposez lui 
 la question</p>
 <p>
 La, elle vous demandera de garder le secret de la dette pour ne pas entacher sa réputation. Deux choix s'offrent à vous. OU vous lui demandez juste les 500 épices que vous voulez remettre au barman... <br/>
 OU vous lui demandez de vous remettre un peu plus d'argent en échange de votre silence.
 </p>
 
 <h3>Résolution de la quête</h3>
 <p> Si vous empochez plus d'argent que 500 épices, votez corruption augmente, ce qui à long terme, n'est pas bénéfique. Mais il existe une autre quête lancée par le représentant ixien qui, en récompense, 
 vous permet de vous débarrasser de toute votre corruption. Sinon, empochez juste les 500 épices de la novice Bene Gesserit, et allez voir le barman qui, en échange des 500 épices de la soeur Bene Gesserit,
  vous remettra une bouteille de liqueur d'épices. Dans tous les cas, cette quête est essentielle pour débloquer la fin de la quête du Fremen de musée et pour entamer la conversation avec l'ambassadeur Corrino
  qui se trouve dans le bar, assis à la table face à l'entrée. </p>
</div>
					</section>

			</div>
{% endblock %}