{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}



{% block body %}
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Acheter la boussole</h1>
							<blockquote>
							Rendez-vous au surplus du palais.
							</blockquote>
		
		
<h2>Engager la quête</h2>
<p>Pour commencer la quête concernant l'achat de la boussole qui se trouve au surplus du palais, il faut que votre renommée soit supérieur à 150. Si c'est le cas, lorsque vous parlez au vendeur, vous lui poserez la question
suivante : <strong>"La boussole que vous vendez... Pourquoi ce prix si élevé?"</strong></p>

<h3>Comment faire</h3>
<p>
<span class="image left">
		<img src="/images/perso/Counsellor-seul.png" alt="novice Bene Guesserit jeu point and click" title="novice Bene Guesserit jeu point and click"/>
	</span>
Allez voir le grand inquisiteur qui vous dira qu'il faut aller chercher dans les archives du palais pour déchiffrer l'inscription marquée sur le dos de la boussole. En déchiffrant cette inscription, on pourra établir
 QUI est le vrai propriétaire de la boussole.</p>
 <p>
 Rendez vous donc à la bibliothèque pour demander de l'aide au scribe officiel de l'Empereur-dieu, mais celle-ci refusera de vous parler. Allez vous plaindre au grand inquisiteur qui vous dira qu'il faut trouver son point
 faible pour lui délier la langue (en gros, il faut l'acheter). <br/>
 Allez donc poser la question à la novice Bene Gesserit <strong>"Dites-moi ce que vous savez sur la scribe impériale"</strong> qui vous dira que son point faible est... les sucreries ! mais ou en trouver dans le palais ?
 </p>
 <p>
 Pour savoir ou en trouver, il faut que vous parliez avec le linguiste officiel ixien qui se trouve dans un des couloirs du palais. Celui-ci vous apprendra que des enfants montent régulièrement aux rideaux de l'entrée
  du palais, les poches pleines de sucreries... allez donc chercher dans les rideaux du palais et vous trouverez effectivement des sucreries que vous pourrez donner au scribe officiel de l'Empereur-dieu.
 </p>
 
 <h3>Résolution de la quête</h3>
 <p> la scribe officiel de l'Empereur-dieu vous dira alors qu'il faut chercher dans la bibliothèque un livre qui saura déchiffrer l'inscription. Cherchez bien dans la bibliothèque située juste derrière elle, 
 et vous tomberez sur l'inscription manquante. Allez retrouver le marchand au surplus, donnez lui l'inscripion manquante, et il vous donnera de l'épice, des serviteurs et surtout la boussole
 qui est capitale pour finir le jeu et faire une autre quête annexe. ( aller dans le désert sans boussole vous fait perdre le jeu. )</p>
</div>
					</section>

			</div>
{% endblock %}