<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">le Bene Gesserit dans Dune jeu point and click</h1>
							<span class="image fit"><img src="images/site/dune_point_and_click_jeu_arrakis.jpg" alt="dune point and click: gesserit" /></span>
							<blockquote>
							Les personnages du Bene Gesserit présents dans le <strong>dune jeu point and click</strong> dépendent de la portion d'épice que vous leur allouez tous les 5 jours
							</blockquote>
		
		
<h2>Son représentant sur Dune</h2>
<p>La maison Gesserit est l'une des factions les plus importantes de l'Imperium et dont l'influence politique traverse les siècles.Ce fut l'une des rares grandes maisons
majeures à avoir survécue à l'avènement du règne de l'Empereur-dieu LETO II</p>

	<p>
	<span class="image left">
		<img src="/images/perso/gesserit-seul.png" alt="représentant du Bene Gesserit du jeu point and click" title="représentant du Bene Gesserit du jeu point and click"/>
	</span>
	Le Bene Gesserit est une organisation féminine et matriarcale de pouvoir spirituel et religieux sans équivalent. Malgré son envergure, un ensemble de pouvoirs peut lui être comparé :</p>

<p><a href='<?php echo URL_MAIN_ABS . $this->rewrite('Customer/newtemplate/guilde'); ?>'>La GUILDE SPATIALE</a>, qui représente le pouvoir indépendant des transports spatiaux et qui garde jalousement son monopole du transport spatial longue distance par le biais des Navigateurs et des vaisseaux long-courriers de la guilde ;</p>
<p><a href='<?php echo URL_MAIN_ABS . $this->rewrite('Customer/newtemplate/tleilax'); ?>'>Le BENE TLEILAX</a> : le seul autre ordre de cet univers (du moins à l'époque de Dune), il utilise les pouvoirs de la biologie, et plus particulièrement la génétique afin de créer des clones, nommés <a href='<?php echo URL_MAIN_ABS . $this->rewrite('Customer/newtemplate/ghola'); ?>'>gholas</a> et des danseur-Visage, grâce aux Cuves axlotl. Les Tleilaxus sont ainsi passés maîtres dans la « résurrection » des corps via les <a href='<?php echo URL_MAIN_ABS . $this->rewrite('Customer/newtemplate/ghola'); ?>'>gholas</a> et ont développé la fabrication de l'épice de synthèse ;</p>
<p><a href='<?php echo URL_MAIN_ABS . $this->rewrite('Customer/newtemplate/ix'); ?>'>Les IXIENS</a>, des concepteurs et des fabricants de matériel de haute technologie qui utilisent une science et une ingénierie avancée, de façon non mystique. Ils sont les créateurs de la plupart des machines et de l'équipement sophistiqué de l'Empire. Certains les suspectent d'avoir sciemment ignoré l'interdit, à la suite du Jihad Butlérien, de fabriquer ou d'utiliser des machines pensantes (des ordinateurs avec une intelligence artificielle).</p>


<h3>La relation des soeurs Gesserit avec l'épice dans ce jeu point and click</h3>

<p>
<span class="image left">
	<img src="/images/perso/gesserit-sister-seul.png" alt="soeur Gesserit du jeu point and click" title="soeur Gesserit de dune jeu point and click"/>
</span>
Pour devenir soeur, les élèves Gesserit doivent passer la cérémonie de l'agonie de l'Epice, qui consiste à survivre à une dose massive d'épice ingérée</p>
<p>Depuis l'apparition du Kwisatz Haderach, les Sœurs font tout pour éviter qu'il ne réapparaisse, ce en quoi elles ont échoué, puisque le fils de Paul, Leto II le tyran, disposera de pouvoirs encore bien supérieurs à son père. Il modifiera d'ailleurs le programme génétique des Sœurs, s'en emparant pour le mener dans une direction différente de celle prévue par le Bene Gesserit, grâce à son « Sentier d'Or ». </p>
<p>Ainsi, l'Empereur-dieu entretient la maison du Bene Gesserit, dans une dépendance qu'ils ne peuvent s'affranchir en leur donnant tous les 5 jours, lors de la Cérémonie de Partage, une quantité variable d'épice</p>

<a href="#" class="button primary">Le jeu Dune point and click n'a plus aucun secret pour vous !</a>
</div>
					</section>

			</div>