<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">IX dans Dune jeu point and click</h1>
							<span class="image fit"><img src="images/site/dune_point_and_click_palais_sareer.jpg" alt="dune jeu point and click : ix" /></span>
							<blockquote>
							Les personnages de la maison IX présents dans le <strong>dune jeu point and click</strong> dépendent de la portion d'épice que vous leur allouez tous les 5 jours
							</blockquote>
		
		
<h2>Son représentant sur Dune</h2>
<p>La maison IX est depuis des temps immémoriaux la plus avancée dans les technologies de pointe. 
De sanglantes batailles se déroulèrent sur sa planète lors du Jihad Butlérien. La planète, occupée par les machines, fut reprise par les humains, puis fit l’objet d’une offensive des machines, 
qui échoua. </p>


	<p>
	<span class="image left">
		<img src="/images/perso/representant-ix-seul.png" alt="représentant ixien du jeu point and click" title="représentant ixien du jeu point and click"/>
	</span>
	Les technologies avancées de IX servent les intérêts de l'Empereur-dieu, qui pourtant a mis un sévère embargo scientifique sur toutes les nouvelles technologies qui pourraient être 
découvertes sous son règne. En effet, pour faire règner la "Paix de LETO", LETO II n'hésite pas à brimer les différentes maisons qui évoluent sous sa coupe 
(comme par exemple avec la 	<a href='<?php echo URL_MAIN_ABS . $this->rewrite('Customer/newtemplate/guilde'); ?>'>Guilde Spatiale</a> et ses Longs-courriers) qui ne volent plus que pour les 
<a href='<?php echo URL_MAIN_ABS . $this->rewrite('Customer/newtemplate/personnages'); ?>'>truitesses</a> de l'empereur</p>
<p>En effet, un des principes de sa "paix forcée" est une relative stabilisation scientifique qui évite toute évolution majeure des civilisations pour prévenir ainsi les rébellions et séditions</p>

<h3>La relation de IX avec l'épice dans ce jeu point and click</h3>

<p>
<span class="image left">
	<img src="/images/perso/Counsellor-seul.png" alt="conseiller du jeu point and click" title="conseiller de dune jeu point and click"/>
</span>
La maison IX fournie plusieurs technologies de pointes pour l'Empereur-dieu. Son char ixien qui lui permet de se déplacer gràce à des ordres mentales et les sattelites qui permettent de contrôler
 l'humidité de la planète et donc de créer le désert du Sareer qui entoure le palais royal sur Arrakis sont de provenance ixienne </p>
 <p>Dans ce <strong>dune jeu point and click</strong> les ixiens peuvent vous fournir des technologies qui vous feraient économiser d'importantes quantités d'épice.</p>

<a href="#" class="button primary">Le jeu Dune point and click n'a plus aucun secret pour vous !</a>
</div>
					</section>

			</div>