{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}



{% block body %}
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Paul Atréides et Dune</h1>
							<span class="image fit"><img src="/images/site/dune_empereur_jeu.jpg" alt="Dune jeu point and click : paul atreides" /></span>
							<blockquote>
							<strong>dune jeu point and click</strong> se déroule bien après l'avènement de Paul Atréides
							</blockquote>
		
		
<h2>Paul Atreides : Il y'a 3000 ans</h2>

<p>Prince héritier de la maison Atréides, Paul est âgé de quinze ans quand son père, le duc Leto - à ne pas confondre avec LETO II, est tué par les Harkonnen, ennemis jurés de sa famille, alors qu'il se trouvait sur la planète Arrakis - aussi appelée Dune.</p>
<p>Paul s'enfuit de la forteresse et est recueilli par les Fremen, les habitants du désert. </p>
<p>Paul acquiert le pouvoir de prescience et devient le leader des Fremen, parvenant ainsi à renverser les Harkonnen. </p>
<p>Il créé, bien malgré lui, le jihad qui ensanglante l'imperiuum douze années durant, et devient ainsi le premier empereur Atréides, cette place étant traditionnellement réservée aux Corrinos.</p>
<p>Frappé de cécité à la suite d'un attentat manqué auquel participe la <a href="{{ path('app_guilde') }}">GUILDE SPATIALE</a>,
le <a href="{{ path('app_tleilax') }}">BENE TLEILAX</a> et même <a href="{{ path('app_ix') }}">Les IXIENS</a>, il abdique et s'enfonce seul dans le désert, en accord avec la tradition des Fremen.</p>


	<h3>Jihad Atréides et Sentier d'Or sur Dune</h3>
<p>
<span class="image left">
		<img src="/images/perso/Leto_seul.png" alt="LETO II du jeu point and click" title="LETO II du jeu point and click"/>
	</span>
	l'Empereur-dieu LETO II, 3000 ans après ces faits, revient régulièrement sur le voile du futur que son père n'a jamais voulu soulevé. 
Paul ainsi que ses enfants, est prescient, c’est-à-dire qu’il sait lire l’avenir. Il avait donc vu le Sentier d'Or, si cher à LETO II, mais n'a jamais voulu assumer le rôle qu'on lui donnait.
C’est ce qui amènera sa perte lorsqu’il refusa d’assumer la responsabilité du Sentier d'Or. C’est son fils qui poursuivra finalement cette voie.</p>


<a href="#" class="button primary">Le jeu Dune point and click n'a plus aucun secret pour vous !</a>
</div>
					</section>

			</div>
{% endblock %}