{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}



{% block body %}

<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Point and click d'époque</h1>
							<span class="image fit"><img src="/images/site/dune_point_and_click_jeu_arrakis.jpg" alt="dune point and click: contexte du jeu" /></span>
							<blockquote>Avec un curseur tout droit sorti des années 90, et une musique d'époque, ce jeu point and click tente de faire revivre le souffle épique des jeux d'aventures des années 92-93.<br/>
							Le style oldie devrait réveiller tout geek endormis en chacun de nous !</blockquote>
							
							<h2>Dune jeu point and click : un jeu vraiment rétro ?</h2>
<p>On peut effectivement se demander si, à notre époque, on peut encore trouver des jeux REELLEMENT rétro. Je ne parle pas juste d'une campagne de pub qui jouera la carte de la nostalgie et d'un graphisme pixelisé 
pour remplir le cahier des charges d'un jeu "comme dans l'ancien temps". On utilise en général la 2D, on met des beaux pixels tout propre, et on se retrouve avec un beau jeu faussement rétro.   </p>

<p>
<span class="image left">
		<img  src="/images/perso/essai.png" alt="personnage dune jeu point and click" title="personnage dune jeu point and click"/>
	</span>
Dans notre cas, nous ne sommes pas du tout dans ce même genre de situation : La pixelisation du décor du palais de LETO II a été pensée pour REELLEMENT ressembler aux jeux de l'ancien temps: on ne sort pas du cadre des poncifs du genre,
à savoir, les jeux Point and click datant des débuts des années 90, je parle bien sur de Monkey island, Dune I et Lands of lore, pour ne citer qu'eux. Bon, gardons tout de même la tête froide, on est TRES LOIN d'avoir le 
même génie que ces pépites, autant narratif que graphiquement. Mais on essaye tout de même.
</p>

<p>Ce qui fait que notre jeu <strong>Dune point and click</strong> soit réellement un jeu nostalgique, est le mécanisme d'époque utilisé dans ce jeu : on ne bouge pas un personnage, on EST un personnage: l'immersion du
 joueur est complète ainsi. En incarnant Moneo, le serviteur de LETO II, sans jamais se voir réellement, on est au plus près du mécanisme proposé dans le premier jeu DUNE sorti en 1992 ou l'on incarnait Paul Atréides.
 Le système du jeu est donc un copié/collé de ce que l'on nous proposait à l'époque.
</p>

<h3>Un jeu simplifié</h3>

<p>La différence notable avec les jeux d'époque est que ce <strong>jeu Dune</strong> n'est pas aussi compliqué ni long à finir que ce que nous proposait le premier opus de Dune : comptez bien 2h pour en venir à bout, le temps
de comprendre les mécanismes et de faire toutes les quêtes ( parfois tordues ) proposées dans ce jeu. Pourquoi une aussi courte durée de vie ? parce qu'il faut bien créer les quêtes ! et que ça prend du temps ! Si le jeu
 rencontre son public, alors oui, de nouveaux personnages seront créés, et des pièces en plus verront le jour, ainsi que des quêtes supplémentaires qui permettront de rallonger sensiblement la durée de vie du jeu.</p>

<h3>Plus de 900 dialogues possibles</h3>

<p>Mais rassurez vous : ce n'est pas parce que le jeu est relativement petit qu'il n'en n'est pas moins riche : les quêtes proposées peuvent être simple ( aller parler à quelqu'un et retransmettre la réponse ), comme celles
proposées dès le début du jeu, pour mettre en confiance le joueur, mais peuvent aussi très vite monter dans la difficulté ( faire boire un poison à un personnage sans que celui-ci ne s'en aperçoive... coriace ! )</p>

<h2>En quoi ce jeu est révolutionnaire ?</h2>

<p>
Le support ! C'est le premier jeu WEB Point and click ! Personne n'a jamais, pour le moment, coder un jeu Point and click, directement jouable par navigateur ! Sans rien installer, sans inscription, et sans publicité, 
ce jeu ne demande qu'un navigateur web pour fonctionner... rien de plus ! Avouez que c'est quand même peu de chose !
</p>
<br/>
<a href="#" class="button primary">Vous voila fin prêt, vous, MONEO, à vous mettre au service de votre Empereur-dieu LETO II !</a>							
							
							
							
						</div>
					</section>

			</div>



{% endblock %}

