
<script type="text/javascript">

    $(document).ready(function() {
        $("#onTalk").val(0);
        $("#onMyTalk").val(0);

        var arret = 0;

        $("#representant_guesserit").dialogue('representant_guesseritTextChambre', 'representant_guesserit', 5);
        if ($("#representant_guesserit").length)
            $("#representant_guesserit").muetFonction();

        $("#mesTexto").html('<img src="/images/plan/intendant_plan.png" />');
        $("#plan").val('intendant_plan');
    })

</script>
</head>

<div id="{{salle}}" >
    <div id="perso"></div><p>&nbsp;</p>
    <div title="Intendance" alt="representants" id='retour_chambre' style='z-index:1000'></div>

    <div id="texto"></div>
    {% for key, value in persoDansSalle %}
        <div class="{{ key }}_chambre" id="{{ key }}"></div>
    {% endfor %}
</div>


