
<script type="text/javascript">

    $('h1').oneTime(200,function() {
        $('h1').css("font-size", "5px");

    }).oneTime(300,function() {
        $('h1').css("font-size", "10px");
    }).oneTime(400,function() {
        $('h1').css("font-size", "15px");
    }).oneTime(500,function() {
        $('h1').css("font-size", "20px");
    }).oneTime(600,function() {
        $('h1').css("font-size", "25px");

    }).oneTime(700,function() {
        $('h1').css("font-size", "30px");

    }).oneTime(800,function() {
        $('h1').css("font-size", "35px");

    }).oneTime(900,function() {
        $('h1').css("font-size", "40px");

    }).oneTime(1000,function() {
        $('h1').css("font-size", "45px");

    }).oneTime(1100,function() {
        $('h1').css("font-size", "50px");

    }).oneTime(1200,function() {
        $('h1').css("font-size", "55px");

    }).oneTime(1300,function() {
        $('h1').css("font-size", "60px");

    }).oneTime(1400,function() {
        $('h1').css("font-size", "65px");

    }).oneTime(1500,function() {
        $('h1').css("font-size", "70px");

    }).oneTime(1600,function() {
        $('h1').stopTime();

    });

</script>
</head>
<div id="{{salle}}" >
    <h1>VOUS AVEZ PERDU !</h1>
<p>La révolution a éclatée et vous avez été exécuté :
    le nombre d'ennemi sur la carte était trop important !<br/><br/>  ( {{ nbEnnemis }} )</p>
<br/><br/>
   <p> Recommencez une nouvelle partie ! - et n'oubliez pas de remercier l'auteur - moi-même - à cette adresse </p>
    <br/><br/><br/> <p style="color: white;">moneo.house.atreides@gmail.com</p>

</div>


