
<script type="text/javascript">

    $(document).ready(function() {
        $("#onTalk").val(0);
        $("#onMyTalk").val(0);
        var arret = 0;

    })

    $("#mesTexto").html('<img src="/images/plan/village1_plan.png" />');
    $("#plan").val('village1_plan');

</script>
</head>

<div id="{{ salle }}">
    <div id="perso"></div><p>&nbsp;</p>
    <div alt="heroespixel" title="desert" id='retour_village1' style='z-index:1000'></div>
    <div id='vers_village2' alt="village2" class='vers_village2' title="Village 2" style='z-index:1000'></div>
    <div id='vers_habitat1' alt="habitat1" class='vers_habitat1' title="Sietch" style='z-index:1000'></div>


    <div id="texto"></div>


</div>


