
<script type="text/javascript">

    $(document).ready(function() {
        $("#onTalk").val(0);
        $("#onMyTalk").val(0);
        var arret = 0;

    })

    $("#mesTexto").html('<img src="/images/plan/village2_plan.png" />');
    $("#plan").val('village2_plan');

</script>
</head>

<div id="{{ salle }}">
    <div id="perso"></div><p>&nbsp;</p>
    <div title="Village 1" alt="village1" id='retour_village2' style='z-index:1000'></div>
    <div id='vers_village3' alt="village3" class='vers_village3' title="Village 3" style='z-index:1000'></div>


    <div id="texto"></div>


</div>


